Debug/
Release/
ipch/
x64/
*~
*sdf
*.suo
*.o
*.a
*.txt

.DS_Store

# don't want linux or cygwin executable:
imdiff
imdiff.exe

# no images
*.png
*.jpg
*.pfm
# except for these two sample images
!booksL.jpg
!booksR.jpg
